<a href="https://colab.research.google.com/github/prof-eduardo-galego/unifecaf-ml-em-python/blob/main/UNIDADE%2001%20-%20AULA%2004.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

data = {'Nome': ['Carlos', 'Pedro', 'Aline', 'Rebeca'],
        'Idade': [20, 21, 19, 18],
        'Telefone': ['(11) 95423-4343', '(11) 99232-3221', '(13) 95430-9550', '(11) 4012-2160']}

df = pd.DataFrame(data)

print(df)

     Nome  Idade         Telefone
0  Carlos     20  (11) 95423-4343
1   Pedro     21  (11) 99232-3221
2   Aline     19  (13) 95430-9550
3  Rebeca     18   (11) 4012-2160

In [ ]:
def printFile(file):
  with open(file, "r") as f:
    print(f.read())

In [ ]:
df.to_csv(r'export.csv', index=False)
printFile(r'export.csv')

Nome,Idade,Telefone
Carlos,20,(11) 95423-4343
Pedro,21,(11) 99232-3221
Aline,19,(13) 95430-9550
Rebeca,18,(11) 4012-2160

In [ ]:
df.to_json(r'export.json', orient='table') #split, table, values, index, records, columns
printFile(r'export.json')

{"schema":{"fields":[{"name":"index","type":"integer"},{"name":"Nome","type":"string"},{"name":"Idade","type":"integer"},{"name":"Telefone","type":"string"}],"primaryKey":["index"],"pandas_version":"1.4.0"},"data":[{"index":0,"Nome":"Carlos","Idade":20,"Telefone":"(11) 95423-4343"},{"index":1,"Nome":"Pedro","Idade":21,"Telefone":"(11) 99232-3221"},{"index":2,"Nome":"Aline","Idade":19,"Telefone":"(13) 95430-9550"},{"index":3,"Nome":"Rebeca","Idade":18,"Telefone":"(11) 4012-2160"}]}

In [ ]:
df.to_xml('export.xml')
printFile(r'export.xml')

<?xml version='1.0' encoding='utf-8'?>
<data>
  <row>
    <index>0</index>
    <Nome>Carlos</Nome>
    <Idade>20</Idade>
    <Telefone>(11) 95423-4343</Telefone>
  </row>
  <row>
    <index>1</index>
    <Nome>Pedro</Nome>
    <Idade>21</Idade>
    <Telefone>(11) 99232-3221</Telefone>
  </row>
  <row>
    <index>2</index>
    <Nome>Aline</Nome>
    <Idade>19</Idade>
    <Telefone>(13) 95430-9550</Telefone>
  </row>
  <row>
    <index>3</index>
    <Nome>Rebeca</Nome>
    <Idade>18</Idade>
    <Telefone>(11) 4012-2160</Telefone>
  </row>
</data>

In [ ]:
import yaml

with open('export.yaml', 'w') as file:
  documents = yaml.dump({'result': df.to_dict(orient='records')}, file, default_flow_style=False)

printFile(r'export.yaml')

result:
- Idade: 20
  Nome: Carlos
  Telefone: (11) 95423-4343
- Idade: 21
  Nome: Pedro
  Telefone: (11) 99232-3221
- Idade: 19
  Nome: Aline
  Telefone: (13) 95430-9550
- Idade: 18
  Nome: Rebeca
  Telefone: (11) 4012-2160