<a href="https://colab.research.google.com/github/prof-eduardo-galego/unifecaf-ml-em-python/blob/main/UNIDADE%2002%20-%20AULA%2008.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

df = pd.DataFrame([10, 10, 30, 90])

print(f'Média = {df[0].mean()}')
print(f'Mediana = {df[0].median()}')
print(f'Moda = {df[0].mode()[0]}')

Média = 35.0
Mediana = 20.0
Moda = 10

In [ ]:
print(df.min())
print(df.max())

0    0
dtype: int64
0    10
dtype: int64

In [ ]:
df.mean()

0    35.0
dtype: float64

In [ ]:
df.median()

0    20.0
dtype: float64

In [ ]:
df.mode()

    0
0  10

In [ ]:
df.quantile([0.25, 0.5, 0.75])

        0
0.25  6.0
0.50  8.0
0.75  9.0

In [ ]:
df.quantile([0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9])
# ou df.quantile(np.arange(0.1, 1, 0.1))

       0
0.1  4.0
0.2  5.6
0.3  6.4
0.4  7.2
0.5  8.0
0.6  8.8
0.7  9.0
0.8  9.0
0.9  9.2

In [ ]:
df.quantile(np.arange(0.01, 1, 0.01))

         0
0.01  0.40
0.02  0.80
0.03  1.20
0.04  1.60
0.05  2.00
...    ...
0.95  9.60
0.96  9.68
0.97  9.76
0.98  9.84
0.99  9.92

[99 rows x 1 columns]

In [ ]:
df.std()

0    3.082207
dtype: float64