<a href="https://colab.research.google.com/github/prof-eduardo-galego/unifecaf-ml-em-python/blob/main/UNIDADE%2002%20-%20AULA%2005%20e%2006.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

indice = pd.date_range("1/1/2000", periods=8)
colunas = ["A", "B", "C"]
df = pd.DataFrame(np.random.randn(8, 3), index=indice, columns=colunas)

df

                   A         B         C
2000-01-01  1.491070  0.292369  0.756528
2000-01-02  1.065190  0.781946 -0.425917
2000-01-03 -0.050706  0.657897 -0.052655
2000-01-04 -2.169863  1.549548 -1.014405
2000-01-05  1.482881  0.033691  0.462002
2000-01-06  0.631171  1.976277 -2.517181
2000-01-07  1.961737  0.115606 -1.778560
2000-01-08 -2.193344  0.894144  0.604355

In [ ]:
df.head()

In [ ]:
df.head(3)

In [ ]:
df.tail()

In [ ]:
df.describe()

In [ ]:
df.shape

In [ ]:
df.columns = ["Coluna A", "Coluna B", "Coluna C"]
df.head()

In [ ]:
df.agg(np.sum)

In [ ]:


vetor_qualquer = [10, 20, 30]
vetor_qualquer * 2

[10, 20, 30, 10, 20, 30]

In [ ]:
import pandas as pd

df_qualquer = pd.DataFrame([10, 20, 30])
print(df_qualquer * 2)

    0
0  20
1  40
2  60

In [ ]:
df_qualquer_dois = pd.DataFrame([10, 15, 12, -43, 31, 7])
df_qualquer + df_qualquer_dois

In [ ]:
df_com_problemas = pd.DataFrame(
    {'Números': [1,2,3,4,5,np.nan,6,7,np.nan,8,9,10,np.nan]})
df_com_problemas

In [ ]:
print(df_com_problemas['Números'].isnull().values.any())
print(df_com_problemas['Números'].isnull().sum())

In [ ]:
dados = {'Nome': ['Galhad', 'Aranmi', 'Faoguor', 'Taranor'],
         'Força': [3, 4, 7, 14],
         'Habilidade': ['Espada', 'Espada', 'Arco e Flecha', 'Magia']}
  
df_lor = pd.DataFrame(dados)
df_lor

      Nome  Força     Habilidade
0   Galhad      3         Espada
1   Aranmi      4         Espada
2  Faoguor      7  Arco e Flecha
3  Taranor     14          Magia

In [ ]:
familia = ['Vanyar', 'Vanyar', 'Noldor', 'Teleri']
df_lor['Família'] = familia # ou df.insert(2, "Família", familia, True)

df_lor

      Nome  Força     Habilidade Família
0   Galhad      3         Espada  Vanyar
1   Aranmi      4         Espada  Vanyar
2  Faoguor      7  Arco e Flecha  Noldor
3  Taranor     14          Magia  Teleri

In [ ]:
df_lor['tamanho_nome'] = df_lor['Nome'].str.len()
df_lor['Força após treinamento'] = df_lor['Força'] * 3
df_lor

      Nome  Força     Habilidade Família  tamanho_nome  Força após treinamento
0   Galhad      3         Espada  Vanyar             6                       9
1   Aranmi      4         Espada  Vanyar             6                      12
2  Faoguor      7  Arco e Flecha  Noldor             7                      21
3  Taranor     14          Magia  Teleri             7                      42

In [ ]:
new_df_lor = df_lor['Nome']
new_df_lor

0     Galhad
1     Aranmi
2    Faoguor
3    Taranor
Name: Nome, dtype: object

In [ ]:
new_df_lor2 = df_lor[['Nome', 'Habilidade']]
new_df_lor2

      Nome     Habilidade
0   Galhad         Espada
1   Aranmi         Espada
2  Faoguor  Arco e Flecha
3  Taranor          Magia

In [ ]:
somente_fortes = df_lor[df_lor['Força'] >= 10]
somente_fortes

      Nome  Força Habilidade Família  tamanho_nome  Força após treinamento
3  Taranor     14      Magia  Teleri             7                      42

In [ ]:
df_lor.drop('Habilidade', inplace=True, axis=1)
df_lor

      Nome  Força Família  tamanho_nome  Força após treinamento
0   Galhad      3  Vanyar             6                       9
1   Aranmi      4  Vanyar             6                      12
2  Faoguor      7  Noldor             7                      21
3  Taranor     14  Teleri             7                      42